@charset "utf-8";
/* CSS Document */

.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}

.example3 .navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}
.titulo.azul {background: #4398db;}
.titulo.verde {background: #27ae60;}
.titulo.naranja {background: #e67e22;}
.titulo.rojo {background: #c0392b; color:#000;}

