body{
	background: #e6e6e6;
}
header{
	
	width:100%; 
	
	margin: auto;
	
	
}
nav{
	background: #528fd5;
	margin-top:20ox ;
	position:relative;
	z-index: 1;
}
nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	
}
nav > ul > li{
	float: left;
	
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 10px 28px;
		
}
nav ul li a:hover{
	background: #3669a4;
}
nav > ul > li:hover div{
	display: table;
	
	
}
/**submenu**/
nav ul li div{
	width: 100%;
	position: absolute;
	left: 0;
	background: #04B4AE;
	box-sizing: border-box;
	display: none;/////**CAMBIAR por NONE**//
}
nav ul li div ul{
	width: 20%;
	display: table-cell;
	border-right: 1px solid rgba(255,255,255,.5);
	box-sizing: border-box;
}
nav ul li div ul:last-child{
	border:none;
}
nav ul li div ul .titulo{
	background: #000;
	color:#fff;
}
nav ul li div ul .titulo a{
	
	color:#fff;
	padding: 10px 20px;
}
.titulo.azul {background: #4398db;}
.titulo.verde {background: #27ae60;}
.titulo.naranja {background: #e67e22;}
.titulo.rojo {background: #c0392b; color:#000;}

nav ul li div ul li a{
	color:#000;
}

}